<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
	 <param-name>context_parameter1</param-name>
	 <param-value>This is the value of context parameter 1</param-value>
	</context-param>

  <context-param>
   <param-name>context_parameter2</param-name>
   <param-value>This is the value of context parameter 2</param-value>
  </context-param>
  
	<servlet>
		<servlet-name>Hello Servlet</servlet-name>
		<servlet-class>com.bingo.helloworld.HelloWorld</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
    <servlet-name>Counter1</servlet-name>
    <servlet-class>com.bingo.helloworld.HolisticCounter</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Counter2</servlet-name>
    <servlet-class>com.bingo.helloworld.HolisticCounter</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Counter</servlet-name>
    <servlet-class>com.bingo.helloworld.InitDestroyCounter</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>Prime</servlet-name>
    <servlet-class>com.bingo.helloworld.PrimeSearcher</servlet-class>
    <load-on-startup>-1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Snoop</servlet-name>
    <servlet-class>com.bingo.helloworld.ServerSnoop</servlet-class>
    <init-param>
       <param-name>init_parameter1</param-name>
       <param-value>This is the value of servlet's initial param "servlet_param1"</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>com.bingo.helloworld.BasicAuthentication</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
	  <servlet-name>Header Snoop</servlet-name>
	  <servlet-class>com.bingo.helloworld.HeaderSnoop</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>Client Pull</servlet-name>
    <servlet-class>com.bingo.helloworld.ClientPull</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Hello Servlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Counter</servlet-name>
    <url-pattern>/counter</url-pattern>
  </servlet-mapping>

	<servlet-mapping>
		<servlet-name>Counter1</servlet-name>
		<url-pattern>/counter1</url-pattern>
	</servlet-mapping>

  <servlet-mapping>
    <servlet-name>Counter2</servlet-name>
    <url-pattern>/counter2</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Prime</servlet-name>
    <url-pattern>/prime</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Snoop</servlet-name>
    <url-pattern>/snoop</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Header Snoop</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Client Pull</servlet-name>
    <url-pattern>/pull</url-pattern>
  </servlet-mapping>
</web-app>
